.contenuduheade{ 
    height: 80vh;
    width: 150px;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    padding: auto;

}
*{

    margin: auto;
    padding: auto ;

}
