    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  .header {
    background-color:#2b6777 ;
    color: white;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Dancing Script', cursive;

  }
  
  .logo img {
    width: 80px;
  }
  
  .logo-titre h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .logo-titre .slogan {
    margin: 5px 0 0;
    font-size: 16px;
  }
  
  
  nav {
    background-color:#f4a300;
    padding: 10px 0;
    margin: 5px 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
    gap: 20px;
    padding: 0;
    margin: 0;
    
  }

  .nav li {
    margin: 5px 10px;
    list-style: none;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 12px;
    text-align: center;
    margin: 0 auto;
  }
  
  nav a:hover {
    background-color: #2b6777;
    border-radius: 5px;
  }
  
 
  .contact-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .contact-page h2 {
    color: #2b6777;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .contact-page p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
  }
  
 
  .contact-form {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .contact-form h3 {
    color: #f4a300;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #f4a300;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color:#2b6777;
  }
  

  .contact-info h3 {
    color:#f4a300;
    margin-bottom: 15px;
  }
  
  .contact-info a {
    color: #2b6777;
    text-decoration: underline;
  }
  
  .footer {
    background-color: #2b6777;
    color: white;
    padding: 30px 20px 10px;
    text-align: center;
  }
  
  .footer h4 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    
    }
  
    nav ul li {
      width: 100%;
    }
  
    nav ul li a {
      display: block; 
      width: 80%; 
      margin: 0 auto; 
      text-align: center; 
      padding: 12px; 
  }
  }
  